/* font-family: "Myriad Pro"; */
@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro/MyriadPro-CondIt.eot');
  src: url('../fonts/MyriadPro/MyriadPro-CondIt.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro/MyriadPro-CondIt.woff2') format('woff2'),
       url('../fonts/MyriadPro/MyriadPro-CondIt.woff') format('woff'),
       url('../fonts/MyriadPro/MyriadPro-CondIt.ttf') format('truetype'),
       url('../fonts/MyriadPro/MyriadPro-CondIt.svg#MyriadPro-CondIt') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro/MyriadPro-BoldCondIt.eot');
  src: url('../fonts/MyriadPro/MyriadPro-BoldCondIt.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro/MyriadPro-BoldCondIt.woff2') format('woff2'),
       url('../fonts/MyriadPro/MyriadPro-BoldCondIt.woff') format('woff'),
       url('../fonts/MyriadPro/MyriadPro-BoldCondIt.ttf') format('truetype'),
       url('../fonts/MyriadPro/MyriadPro-BoldCondIt.svg#MyriadPro-BoldCondIt') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro/MyriadPro-Bold.eot');
  src: url('../fonts/MyriadPro/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro/MyriadPro-Bold.woff2') format('woff2'),
       url('../fonts/MyriadPro/MyriadPro-Bold.woff') format('woff'),
       url('../fonts/MyriadPro/MyriadPro-Bold.ttf') format('truetype'),
       url('../fonts/MyriadPro/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro/MyriadPro-BoldIt.eot');
  src: url('../fonts/MyriadPro/MyriadPro-BoldIt.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro/MyriadPro-BoldIt.woff2') format('woff2'),
       url('../fonts/MyriadPro/MyriadPro-BoldIt.woff') format('woff'),
       url('../fonts/MyriadPro/MyriadPro-BoldIt.ttf') format('truetype'),
       url('../fonts/MyriadPro/MyriadPro-BoldIt.svg#MyriadPro-BoldIt') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro/MyriadPro-Cond.eot');
  src: url('../fonts/MyriadPro/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro/MyriadPro-Cond.woff2') format('woff2'),
       url('../fonts/MyriadPro/MyriadPro-Cond.woff') format('woff'),
       url('../fonts/MyriadPro/MyriadPro-Cond.ttf') format('truetype'),
       url('../fonts/MyriadPro/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro/MyriadPro-Semibold.eot');
  src: url('../fonts/MyriadPro/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro/MyriadPro-Semibold.woff2') format('woff2'),
       url('../fonts/MyriadPro/MyriadPro-Semibold.woff') format('woff'),
       url('../fonts/MyriadPro/MyriadPro-Semibold.ttf') format('truetype'),
       url('../fonts/MyriadPro/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro/MyriadPro-SemiboldIt.eot');
  src: url('../fonts/MyriadPro/MyriadPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro/MyriadPro-SemiboldIt.woff2') format('woff2'),
       url('../fonts/MyriadPro/MyriadPro-SemiboldIt.woff') format('woff'),
       url('../fonts/MyriadPro/MyriadPro-SemiboldIt.ttf') format('truetype'),
       url('../fonts/MyriadPro/MyriadPro-SemiboldIt.svg#MyriadPro-SemiboldIt') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro/MyriadPro-Regular.woff2') format('woff2'),
       url('../fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),
       url('../fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype'),
       url('../fonts/MyriadPro/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro/MyriadPro-It.eot');
  src: url('../fonts/MyriadPro/MyriadPro-It.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro/MyriadPro-It.woff2') format('woff2'),
       url('../fonts/MyriadPro/MyriadPro-It.woff') format('woff'),
       url('../fonts/MyriadPro/MyriadPro-It.ttf') format('truetype'),
       url('../fonts/MyriadPro/MyriadPro-It.svg#MyriadPro-It') format('svg');
  font-weight: normal;
  font-style: italic;
}

/* font-family: "PT Sans"; */
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans/PTSans-Bold.eot');
  src: url('../fonts/PTSans/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PTSans/PTSans-Bold.woff2') format('woff2'),
       url('../fonts/PTSans/PTSans-Bold.woff') format('woff'),
       url('../fonts/PTSans/PTSans-Bold.ttf') format('truetype'),
       url('../fonts/PTSans/PTSans-Bold.svg#PTSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* font-family: "ALS Rubl"; */
@font-face {
  font-family: 'ALS Rubl';
  src: url('../fonts/ALSRubl/ALSRubl.eot');
  src: url('../fonts/ALSRubl/ALSRubl.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ALSRubl/ALSRubl.woff2') format('woff2'),
       url('../fonts/ALSRubl/ALSRubl.woff') format('woff'),
       url('../fonts/ALSRubl/ALSRubl.ttf') format('truetype'),
       url('../fonts/ALSRubl/ALSRubl.svg#ALSRubl') format('svg');
  font-weight: normal;
  font-style: normal;
}

$MyriadPro: 'Myriad Pro';
$PTSans: 'PT Sans';
$ALSRubl: 'ALS Rubl';
$FA: "FontAwesome";

/*# sourceMappingURL=_fontface.css.map */
