%ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

%img-full {
	width: 100%;
	height: auto;
}

@mixin transition($second) {
	-webkit-transition: all $second ease-in-out;
	-moz-transition: all $second ease-in-out;
	-o-transition: all $second ease-in-out;
	transition: all $second ease-in-out;
}

*::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; color: #4E4C4C;}
*::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease; color: #4E4C4C;}
*:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease; color: #4E4C4C;}
*:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease; color: #4E4C4C;}
*:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
*:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
*:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
*:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.modal *::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; color: #4E4C4C;}
.modal *::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease; color: #4E4C4C;}
.modal *:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease; color: #4E4C4C;}
.modal *:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease; color: #4E4C4C;}
.modal :focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.modal *:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.modal *:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.modal *:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}