@import "bootstrap.min";
@import "normalize";
@import "owl.carousel";
@import "owl.theme";
@import "owl.transitions";
@import "fontface";
@import "settings";
@import "font-awesome.min";
/*Basic styles -----------------------------------------------------------*/
/*Base colors */
$base-color-brown: #AD8C53;
$base-color-red: #EA2728;
$base-color-gray-dark: #4D4C4C;
$base-color-gray-light: #E4E4E4;
$base-color-gray: #B7B7B7;
/*Text colors */
$text-color-dark: #1C1C1F;
$text-color-brown: #AD8C53;
$text-color-white: #FFFFFF;
/*Background colors */
$bg-color-gray: #F6F6F8;
$bg-color-white: #FFFFFF;


body {
	font-family: $MyriadPro, sans-serif;
	font-weight: normal;
	background-color: $bg-color-white;
	font-size: 14px;
	color: $text-color-dark;
}

.page-container {	
	max-width: 1150px;
	padding: 0 15px;
	width: 100%;
	margin: 0 auto;	
}
.btn-red {
	a, input, button {
		display: block;
		outline: none;
		font-size: 16px;
		line-height: 1;
        border: none;
		color: $text-color-white;
		background-color: $base-color-red;
		width: 100%;
		text-align: center;
        cursor: pointer;
		padding: 14.5px 5px;
		@include transition(0.4s);
		&:hover {
			text-decoration: none;
			opacity: 0.7;
		}
	}
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
}
.input-text {
  input {
    width: 100%;
    color: #4E4C4C;
    font-family: $MyriadPro, sans-serif;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    text-align: left;
    outline: none;
    border: 2px solid $base-color-gray;
    background-color: #fff;
    padding: 14.5px 20px;
  }
}
.section-title {
  margin: 0 auto 14px;
  font-size: 34px;
  line-height: 1;
  text-align: center;
  max-width: 450px;
  width: 100%;
}
.section-sub-title {
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.2;
  color: $text-color-brown;
  text-align: center;
  max-width: 450px;
  width: 100%;
}
.icon-carrying {
  position: relative;
  width: 12px;
  display: inline-block;
  vertical-align: middle;
  &:after {
    content: '';
    position: absolute;
    height: 24px;
    width: 12px;
    top: -5px;
    background: url('../images/icon-carrying.png') no-repeat center;
    background-size: contain;
  }
}
.icon-year {
  position: relative;
  width: 23px;
  display: inline-block;
  vertical-align: middle;
  &:after {
    content: '';
    position: absolute;
    height: 24px;
    width: 23px;
    top: -5px;
    background: url('../images/icon-year.png') no-repeat center;
    background-size: contain;
  }
}

/*All styles -----------------------------------------------------------*/
.header {
	background-color: $bg-color-gray;
	padding: 30px 0;
	.page-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.header-logo {
		display: flex;
		justify-content: flex-start;
		align-items: center;
        max-width: 235px;
		.logo-img {
			width: 64px;
			margin-right: 15px;
            flex-shrink: 0;
			img {
				width: 100%;
				height: auto;
			}
		}
		.logo-text {
			text-transform: uppercase;
			font-size: 16px;
            line-height: 1.3;
			color: #4D4C4C;
            font-family: $PTSans, sans-serif;
            font-weight: bold;
			p {
				margin: 0;
			}
			span {
				color: $base-color-red;
			}
		}
	}
	.header-call {
		margin-left: auto;
		.title {
			font-size: 18px;
			line-height: 1;
			margin-bottom: 5px;
		}
		.numbers {
			font-size: 22px;
			color: $text-color-brown;
			line-height: 1;
            letter-spacing: 0.2px;
			a {
				color: $text-color-brown;
				font-size: 20px;
				line-height: 1;
				text-decoration: none;
				outline: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.btn-red {
		width: 170px;
		margin-left: 45px;
	}
}
.first-screen {
  padding: 33px 0 185px;
  background-color: $bg-color-gray;
  position: relative;
  z-index: 2;
  .page-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    .section-description {
      width: 67%;
      position: relative;
      z-index: 2;
      h1 {
        margin: 0;
        font-size: 40px;
        line-height: 1.1;
      }
      ul {
        @extend %ul;
        margin-top: 38px;
        li {
          margin-bottom: 16px;
          position: relative;
          font-size: 20px;
          line-height: 1;
          padding-left: 29px;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -6.5px;
            width: 15px;
            height: 13px;
            background: url('../images/check_mark.png') no-repeat center;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .items-wrap {
        max-width: 523px;
        width: 100%;
        margin-top: 61px;
        padding-top: 32px;
        border-top: 1px solid $base-color-gray-light;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .item {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .item-icon {
            width: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            flex-shrink: 0;
            img {
              max-width: 100%;
              height: auto;
            }
          }
          .item-text {
            color: $text-color-brown;
            font-size: 16px;
            line-height: 1.2;
            width: 130px;
          }
        }
      }
    }
    .section-image {
      width: 50%;
      margin-left: -17%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.second-screen {
  background-color: transparent;
  position: relative;
  z-index: 2;
  .form-wrap {
    background-color: $bg-color-white;
    max-width: 1000px;
    width: 100%;
    margin: -140px auto 0;
    padding: 57px 120px 60px 110px;
    box-shadow: 0 2px 25px #e2e2e2;
    .form-title {
      font-size: 24px;
      line-height: 1;
      margin-bottom: 11px;
    }
    .form-sub-title {
      font-size: 20px;
      line-height: 1;
      color: $text-color-brown;
      margin-bottom: 29px;
    }
    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .input-text {
        width: 270px;
        margin-right: 20px;
        input {
          height: 50px;
        }
        &:nth-of-type(2){
          width: 280px;
        }
      }
      .btn-red {
        width: 180px;
        button, input {
          font-size: 14px;
          padding: 18px 5px;
          height: 50px;
        }
      }
    }
  }
}
.third-screen {
  padding: 70px 0 30px;
  .section-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 75px;
    .section-description {
      width: 49%;
      .section-text {
        font-size: 20px;
        line-height: 1.15;
        color: $text-color-dark;
        max-width: 385px;
        width: 100%;
      }
      .items-wrap {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin-top: 49px;
        .item {
          .item-icon {
            height: 46px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 17px;
            img {
              max-height: 46px;
              max-width: 100%;
            }
          }
          .item-title {
            font-size: 20px;
            line-height: 1;
            color: $text-color-dark;
            margin-bottom: 12px;
            font-weight: 600;
          }
          .item-text {
            color: $text-color-brown;
            font-size: 16px;
            line-height: 1.2;
          }
        }
      }
    }
    .section-image {
      width: 59.5%;
      margin-left: -8.5%;
      padding-top: 20px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.fourth-screen {
  padding: 50px 0 100px;
  .section-sub-title {
    max-width: 360px;
  }
  .section-wrap {
    max-width: 980px;
    width: 100%;
    margin: 38px auto 0;
    box-shadow: 0 2px 25px #e2e2e2;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 45px 0 43px;
    .section-slider {
      width: 50%;
      padding: 0 30px 0 40px;
      .items-wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 27px;
        .item {
          margin: 0 10px;
          .title {
            font-size: 16px;
            line-height: 1;
            font-style: italic;
            color: #1D1D1F;
            i {
              margin-right: 10px;
            }
          }
          .value {
            font-size: 18px;
            line-height: 1;
            font-weight: 600;
            color: #4e4c4c;
            margin-top: 6px;
            padding-left: 25px;
          }
          &:nth-child(2){
            .value {
              padding-left: 35px;
            }
          }
        }
      }
      .owl-carousel {
        .owl-item {
          .item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 240px;
            overflow: hidden;
            img {
              max-width: 100%;
              max-height: 100%;
            }
          }
        }
        .owl-controls {
          margin-top: 25px;
          .owl-buttons {
            div {
              margin: 0;
              color: transparent;
              display: inline-block;
              padding: 0;
              font-size: 0;
              border-radius: 0;
              opacity: 1;
              width: 35px;
              height: 30px;
              @include transition(0.4s);
              &:hover {

              }
            }
            .owl-prev {
              border-right: 1px solid #ddd;
              background: url('../images/arrow-left.png') no-repeat center #f3f3f3;
            }
            .owl-next {
              background: url('../images/arrow-right.png') no-repeat center #f3f3f3;
            }
          }
        }
      }
    }
    .section-description {
      width: 50%;
      .section-description-title {
        color: $text-color-dark;
        font-size: 24px;
        line-height: 1;
        font-weight: 600;
        padding-left: 5px;
        margin-bottom: 37px;
      }
      .section-description-info {
        background-color: #f3f3f3;
        padding: 15px 45px 20px 15px;
        border-radius: 10px 0 0 10px;
        dl {
          color: $text-color-dark;
          margin: 0;
          font-size: 14px;
          line-height: 1.3;
          dt {
            font-weight: 600;
            position: relative;
            padding-left: 16px;
            margin-bottom: 1px;
            margin-top: 4px;
            &:first-child {
              margin-top: 0;
            }
            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -3.5px;
              width: 7px;
              height: 7px;
              background-color: #f0d19b;
              border-radius: 100%;
            }
          }
          dd {
            padding-left: 16px;
            margin-bottom: 0;
          }
        }
      }
      .section-description-order {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-right: 30px;
        margin-top: 28px;
        .section-description-cost {
          .title {
            font-size: 16px;
            line-height: 1;
            font-weight: 600;
            color: #4c4c4c;
            margin-bottom: 5px;
          }
          .value {
            font-size: 24px;
            line-height: 1;
            font-weight: 700;
            color: $text-color-brown;
            margin-bottom: 5px;
            letter-spacing: 2.5px;
            span {
              font-family: $ALSRubl, sans-serif;
            }
          }
          .text {
            font-size: 14px;
            line-height: 1;
            color: #4c4c4c;
            b {
              color: $text-color-brown;
              font-weight: 600;
              font-size: 16px;
            }
            span {
              font-family: $ALSRubl, sans-serif;
            }
          }
        }
        .btn-red {
          width: 160px;
          margin-left: auto;
        }
      }
    }
  }
}
.fifth-screen {
  background-color: $bg-color-gray;
  padding: 58px 0 10px;
  .items-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 -120px;
    .item {
      margin: 0 15px;
      width: 30.5%;
      padding: 0 50px 30px 30px;
      background-color: white;
      box-shadow: 0 2px 25px #e2e2e2;
      height: 230px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      .line {
        position: absolute;
        z-index: 10;
        top: 38px;
        left: 38%;
        width: 310px;
        height: 3px;
        background-color: #f0d19b;
      }
      &:first-child {
        .line {
          &:after {
            content: '';
            position: absolute;
            top: 40px;
            right: 0;
            top: 50%;
            margin-top: -5px;
            width: 10px;
            height: 10px;
            background-color: #f0d19b;
            border-radius: 100%;
          }
        }
      }
      &:nth-of-type(2){
        .line {
          &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -7.5px;
            width: 15px;
            height: 15px;
            border: 2px solid #f0d19b;
            background-color: $base-color-red;
          }
        }
      }
      &:last-child {
        .line {
          display: none;
        }
      }
      .title {
        color: #1d1d1f;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 10px;
        position: relative;
        z-index: 2;
      }
      .text {
        color: #4e4c4c;
        font-size: 14px;
        line-height: 1.2;
        position: relative;
        z-index: 2;
      }
      .number {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: -5px;
        color: #f2f2f2;
        font-size: 200px;
        line-height: 1;
      }
    }
  }
}
.sixth-screen {
  padding-top: 219px;
  .section-wrap {
    position: relative;
  }
  .map-description-wrap {
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    .map-info-wrap {
      max-width: 960px;
      width: 100%;
      margin: 65px auto 0;
      padding: 25px 0;
      background-color: white;
      box-shadow: 0 2px 25px #e2e2e2;
      display: flex;
      justify-content: center;
      align-items: center;
      .tel-box, .mail-box {
        position: relative;
        padding-left: 27px;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -9.5px;
          width: 23px;
          height: 19px;
        }
        a {
          color: #4e4c4c;
          font-size: 20px;
          line-height: 1;
          display: block;
          text-decoration: none;
          outline: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .tel-box {
        &:before {
          background: url('../images/phone-icon.png') no-repeat center;
          background-size: contain;
        }
      }
      .mail-box {
        &:before {
          background: url('../images/mail-icon.png') no-repeat center;
          background-size: contain;
        }
      }
      .btn-red {
        width: 230px;
        margin: 0 10%;
        a {
          font-size: 20px;
          padding: 14px 5px;
        }
      }
    }
  }
  #map-wrap {
    width: 100%;
    height: 580px;
  }
}

/*map styles -----------------------------------------------------------*/
.InfoWindow {
  background: #000;
}
.gm-style-iw {
  text-align: center;
  #max-content {
    font-family: $MyriadPro, sans-serif;
    color: #4E4C4C;
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
    text-align: center;
    padding: 6px 0;
    p {
      margin-bottom: 0;
      position: relative;
      &:before {
        content: '';
        width: 16px;
        height: 19px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        background: url('../images/map-text-img.png') no-repeat center;
        background-size: contain;
      }
    }
  }
}
.gm-style-iw-parent {
  & > div {
    &:first-child {
      & > div {
        &:nth-of-type(1) {
          border-top: 24px solid rgba(255, 255, 255, 0.1)!important;
        }
        &:nth-of-type(2) {
          border-radius: 30px!important;
          box-shadow: none!important;
          background-color: transparent!important;
        }
        &:nth-of-type(3) {
          & > div {
            & > div {
              box-shadow: none!important;
            }
          }
        }
        &:last-child {
          border-radius: 30px!important;
        }
      }
    }
    &:last-child {
      display: none;
    }
  }
}


/* modal styles ----------------------------------------------------------*/
.modal-common {
  .modal-dialog {
    max-width: 470px;
    width: 100%;
    margin: 160px auto 30px;
    .modal-content {
      border-radius: 0;
      .modal-header {
        padding: 35px 0 25px;
        border: none;
        position: relative;
        .modal-title {
          line-height: 1;
          text-align: center;
          font-size: 24px;
          width: 100%;
        }
        .close {
          position: absolute;
          width: 28px;
          height: 28px;
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          outline: none;
          right: -13px;
          top: -10px;
          opacity: 1;
          cursor: pointer;
        }
      }
      .modal-body {
        padding: 0 5px 65px;
        max-width: 270px;
        margin: 0 auto;
        width: 100%;
        .modal-text {
          text-align: center;
          color: $text-color-brown;
          font-size: 16px;
          line-height: 18px;
        }
        form {
          margin-top: 30px;
          .input-text {
            margin-bottom: 20px;
          }
          .btn-red {
            a, input, button {
              font-weight: 600;
              font-size: 14px;
              padding: 18px 5px;
            }
          }
        }
      }
    }
  }
}

#modal-callback {
  .modal-text {
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
  }
}


/*All media screen -----------------------------------------------------*/
	/*media screen 992*/
	@media screen and (max-width: 992px){
      .header {
        .header-call {
          text-align: center;
          .numbers {
            a {
              display: inline-block;
            }
          }
        }
      }
      .third-screen {
        .section-wrap {
          .section-description {
            width: 50%;
          }
          .section-image {
            width: 48%;
            margin-left: 2%;
          }
        }
      }
      .fourth-screen {
        .section-wrap {
          .section-slider {
            .items-wrap {
              flex-wrap: wrap;
              .item {
                width: 100%;
                margin-bottom: 10px;
                .title {
                  i {
                    width: 23px;
                  }
                }
                .value {
                  padding-left: 35px;
                }
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }

  /*media screen 768*/
  @media screen and (max-width: 768px){
    .header {
      .page-container {
        display: block;
      }
      .header-logo {
        margin: 0 auto 15px;
      }
      .header-call {
        margin: 0 auto 15px;
      }
      .btn-red {
        margin: 0 auto;
      }
    }
    .first-screen {
      .page-container {
        display: block;
        .section-description {
          width: 100%;
          h1 {
            font-size: 36px;
            text-align: center;
          }
          .items-wrap {
            margin-top: 40px;
            max-width: 100%;
          }
        }
        .section-image {
          max-width: 550px;
          width: 100%;
          margin: 40px auto 0;
          text-align: center;
        }
      }
    }
    .second-screen {
      .form-wrap {
        padding: 40px 15px;
        .form-title, .form-sub-title {
          text-align: center;
        }
        form {
          display: block;
          .input-text {
            max-width: 270px;
            width: 100%;
            margin: 0 auto 20px;
            &:nth-of-type(2) {
              max-width: 270px;
              width: 100%;
            }
          }
          .btn-red {
            max-width: 270px;
            width: 100%;
            margin: 0 auto;
          }
        }
      }
    }
    .third-screen {
      .section-wrap {
        display: block;
        .section-description {
          width: 100%;
          .section-text {
            text-align: center;
            max-width: 100%;
          }
          .items-wrap {
            justify-content: center;
            .item {
              width: 50%;
              text-align: center;
              .item-icon {
                justify-content: center;
              }
            }
          }
        }
        .section-image {
          max-width: 550px;
          width: 100%;
          margin: 40px auto 0;
          text-align: center;
        }
      }
    }
    .fourth-screen {
      .section-wrap {
        display: block;
        .section-slider {
          width: 100%;
          padding: 0 15px;
        }
        .section-description {
          width: 100%;
          margin-top: 30px;
          .section-description-title {
            padding: 0;
            text-align: center;
            margin-bottom: 30px;
          }
          .section-description-info {
            border-radius: 0;
            padding: 15px;
          }
          .section-description-order {
            padding: 0 15px;
            display: block;
            text-align: center;
            margin-top: 20px;
            .btn-red {
              max-width: 270px;
              width: 100%;
              margin: 20px auto 0;
            }
          }
        }
      }
    }
    .fifth-screen {
      .items-wrap {
        display: block;
        .item {
          max-width: 340px;
          width: 100%;
          margin: 0 auto 30px;
          height: inherit;
          min-height: 190px;
          .line {
            display: none;
          }
        }
      }
    }
    .sixth-screen {
      .map-description-wrap {
        top: 25px;
        .map-info-wrap {
          display: block;
          margin: 30px auto 0;
          padding: 15px 0;
          text-align: center;
          max-width: 400px;
          .tel-box, .mail-box {
            display: inline-block;
          }
          .btn-red {
            margin: 20px auto;
          }
        }
      }
    }
  }

  /*media screen 600*/
  @media screen and (max-width: 600px){
    .first-screen {
      .page-container {
        .section-description {
          .items-wrap {
            align-items: flex-start;
            .item {
              width: 33.33%;
              display: block;
              text-align: center;
              padding: 0 5px;
              .item-icon {
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto 10px;
              }
              .item-text {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .modal-common {
      .modal-dialog {
        .modal-content {
          .modal-header {
            .close {
              right: 15px;
              top: 15px;
              z-index: 10;
            }
          }
        }
      }
    }
  }

  /*media screen 500*/
  @media screen and (max-width: 500px){
    .section-title {
      font-size: 22px;
    }
    .section-sub-title {
      font-size: 18px;
    }
    .first-screen {
      padding: 0 0 185px;
      .page-container {
        .section-description {
          h1 {
            font-size: 26px;
          }
          .items-wrap {
            .item {
              .item-text {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    .second-screen {
      .form-wrap {
        padding: 30px 10px;
        .form-title {
          font-size: 20px;
        }
        .form-sub-title {
          font-size: 16px;
        }
      }
    }
    .third-screen {
      padding: 40px 0 30px;
      .section-wrap {
        margin-top: 40px;
        .section-description {
          .section-text {
            font-size: 16px;
            line-height: 1.2;
          }
          .items-wrap {
            margin-top: 35px;
            .item {
              .item-icon {
                margin-bottom: 15px;
              }
              .item-title {
                font-size: 16px;
              }
              .item-text {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .fourth-screen {
      padding: 40px 0 50px;
      .section-wrap {
        padding: 30px 0;
        margin: 30px auto 0;
      }
    }
    .fifth-screen {
      padding: 40px 0 10px;
      .items-wrap {
        margin: 40px 0 -130px;
      }
    }
    .sixth-screen {
      padding-top: 175px;
      .map-description-wrap {
        top: 70px;
      }
    }
  }